$phone-width: 480px;
$tablet-width: 600px; // as per Jim and W3Schools
$desktop-width: 1240px;

$base-padding: 1rem;
$width: 100%;

$header-ht: 300px;

$bg-color: #000000;

$base-font: "Open Sans Light";
$base-color: #ffffff;
$base-font-sz: 1rem; // 16px

$logo-sz: 150px;

$footer-txt-clr: #c2c2c2;